.category-card {
  width: 220px;
  height: 260px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 10px;
  cursor: pointer;
  transition: transform 0.3s;
}

.category-card:hover {
  transform: scale(1.05);
}

.category-img {
  width: 100%;
  height: 180px;
  object-fit: cover; /* La imagen ocupa todo el recuadro */
}

.category-name {
  margin-top: 8px;
  font-size: 14px;
  font-weight: bold;
  color: black;
  text-transform: uppercase;
  text-align: center;
}
