.footer {
  background: #f58105;
  color: white;
  padding: 40px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer img {
  max-width: 100%;
  height: auto;
}
