
.product-card:hover {
  transform: scale(1.05);
}

.product-card {
  width: 260px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 6px;
  text-align: center;
  padding: 10px;
  margin: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s;

}

.product-img {
  width: 100%;
  height: 200px;
  object-fit: fill;
  border-radius: 6px;
}

.product-title {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 600;
  color: #333;
}

.product-description {
  font-size: 14px;
  color: #666;
  margin: 8px 0;
}

.product-price {
  font-size: 18px;
  font-weight: bold;
  color: #c2185b;
  margin-top: 10px;
}
